export PGPASSWORD="some_password_here"
export PGDATABASE="my_supercool_db"
export PGPORT=5432
export PGUSER="supercooluser"
export PGANON_RDS_SOURCE_ID="super-cool-db"
export PGANON_S3_BUCKET_NAME="coolbucket-dbinspect-8675309"
# export PGANON_CREDS_SECRET="/infra/cool-world/rds/pg-anon/credentials"
export PGANON_ENVIRONMENT="cool-world"
export PGANON_RDS_VPCSECURITYGROUPIDS="sg-0837348494373xx8a,sg-d89sd7gfsiy88y7d7"
export PGANON_RDS_DBSUBNETGROUPNAME="cool-db-rdssubnetgroup"
export PGANON_SAVE_DB=true
export PGANON_SECRET_PROFILE="re-sandbox"
export PGANON_DATA_DIR="${HOME}/pg_anon/data"
export PGANON_LOG_DIR="${HOME}/pg_anon/logs"
export PGANON_EXTEND_DIR="${HOME}/pg_anon/extend"
# export PGANON_DB_MAX_RECORD_BATCH=1000
# export PGANON_RDS_DBINSTANCECLASS="db.t4g.large"
export PGANON_DEBUG="true"
